$headerBackgroundColor: #F6F6F7;
$standardMarginDetails: 20px;

$primaryColor: #222222;
$secondaryColor: #888888;

$starRequired: #C90000;
$borderLightGrey: #CCCCCC;
$borderDarkGrey: #222222;

$fontLight: 300;
$fontMedium: 400;
$fontBold: 900;